<h1>プレミアリーグ チーム一覧</h1>

  <div class="teams-container">
    <% @teams.each do |team| %>
      <div class="team-card">
        <%= link_to team.name, team_path(team) %>
      </div>
    <% end %>
  </div>
